<tr>
  <td>
    <%= image_tag product.image.tiny.url, class: "img-fluid rounded bigger-image" %>
  </td>
  <td>
    <h4><%= product.name %></h4>
    <p><%= product.description %></p>
  </td>
  <td>
    <%= humanized_money_with_symbol(product.price * quantity) %>
  </td>
  <td>
  <%= quantity%>
  </td>
</tr>